{% extends "base.html" %}

{% block content %}

<h1>Signup</h1>

<form action="/validate" method="post">
    <label>Username
        <input type="text" name="username" value='{{username}}'/>
    </label>
    <p class="error">{{username_error}}</p>
    <p class="error">{{username_error_v}}</p>
    <label>Password
        <input type="password" name="password" />
    </label>
    <p class="error">{{password_error}}</p>
    <p class="error">{{password_error_v}}</p>
    <label>Verify Password
        <input type="password" name="verify_password" />
    </label>
    <p class="error">{{verify_password_error}}</p>
    <label>Email (Optional)
        <input type="email" name="email" value='{{email}}'/>
    </label>
    <p class="error">{{email_error_v}}</p>
    <input type="submit" name="Submit"/>
</form>

{% endblock %}
